extends layout

block content
  main
  canvas#glcanvas
    | Tu navegador parece no soportar el elemento HTML5 
    code &lt;canvas&gt;
    | .
  section
    button#arbol(type='button') Crear &Aacute;rbol
    select(name='tipo')
      option(value='0') Nodo Transformacion
      option(value='1') Nodo Luz
      option(value='2') Nodo Camara
      option(value='3') Nodo Malla
    //- button#hijo(type='button') A&ntilde;ade hijo
    //- button#elimina(type='button') Elimina 1 hijo
    button#draw(type='button') Draw
    button#imprimir(type='button') Imprime &Aacute;rbol
    button#niu(type='button') Crea nodo con Identidad del ultimo
    #nodos.nodos  
  footer
    aside
      button#enviar(type='button') Enviar
      button#mas(type='button') +
      button#menos(type='button') -
    section#formulario
      article#base
        input(type='text' name='nombre' placeholder='Nombre' size='10' value='')
        input(type='number' name='altura' placeholder='Altura' min='1.00' max='3.00' step='0.01')

