doctype html
html
 head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
  title TAG 2018/2019 - David y Javier
  link(rel='stylesheet' href='style.css' type='text/css' media='screen')
  // Código JS para los controles básicos de la página web
  script(src='manejar_controles_basicos.js' async='')
  // WebGL para el proyecto
  script(src='js/gl-matrix-min.js')
  script(src='manejar_motor_grafico.js' type='module')

  body
    block content
