
body {
  font-size: 100%;
  margin: 0px;
  min-width: 200px !important;
}

.canvasDiv {
  position: relative;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

#glcanvas {
  width: 100%;
  height: auto;
  max-height: 90%;
  z-index: 0;
}
