html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

#contenedor {
  display: flex;
  flex-direction: row;
}

#glcanvas {
  flex-grow: 1;
  min-height: 400px;
  height: auto;
  width: auto;
  background: red;
}

footer {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

article {
  display: flex;
  flex-direction: column;
}
th, td {
  border: 1px solid black;
}