body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

#glcanvas {
  min-height: 400px;
}

footer {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
}

article {
  display: flex;
  flex-direction: column;
}